<div class="container mt-5 p-3 bg-secondary rounded">
  <div class="result-box bg-light mt-2 mx-2 p-3 rounded row">

    <div class="col-lg-2 col-md-2 col-sm-2">
      <input type="date" class="form-control">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
      <input type="text" class="form-control w-75" placeholder="1. csapat">
      <input type="number" class="form-control w-75" placeholder="2. csapat">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
      <input type="number" class="form-control w-75" placeholder="1. csapat góljai">
      <input type="number" class="form-control w-75" placeholder="2. csapat góljai">
    </div>
    <div class="d-flex justify-content-end">
      <img src="database-fill-add.svg" width="35rem" height="35rem" class="position-relative">
    </div>

  </div>

  <div class="result-box bg-light mt-2 mx-2 p-4 rounded row">
    <img src="plus.svg" width="50rem" height="50rem">
  </div>

  <div class="result-box bg-light mt-2 mx-2 py-2 rounded row">
    <div class="d-flex justify-content-end">
      <img src="three-dots-vertical.svg" width="20rem" height="20rem" class="position-relative"
        data-bs-toggle="collapse" data-bs-target="#opciok" aria-expanded="false" aria-controls="opciok">
      <div class="collapse m-3 position-absolute" id="opciok">
        <div class="bg-white pt-3 px-3 pb-1 shadow rounded text-start">
          <p>Módosítás</p>
          <p>Törlés</p>
          <a href="statisztika" class="link link-dark link-underline-opacity-0">Statisztika készítés</a>
        </div>
      </div>
    </div>




    <div class="col-lg-2 col-md-2 col-sm-2">16:00</div>
    <div class="col-lg-5 col-md-5 col-sm-5">
      <p>Magyarország</p>
      <p>Bulgária</p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">
      <p>*</p>
      <p>*</p>
    </div>
  </div>
</div>