<div class="container login-container w-25 bg-white p-2">
  <h2 class="text-center">Bejelentkezés</h2>
  <div class="shadow p-4 rounded">
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="felhasznalo" placeholder="Felhasználónév" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="jelszo" placeholder="Jelszó" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Bejelentkezés</button>
      </div>
    </form>
  </div>
</div>